.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.primary {
  color: #5d97f7;
}

.gray {
  color: #afafaf;
}

.bg-primary {
  background: #5d97f7;
}

.bg-white {
  background: white;
}